/db/
/logs/
/target/
Makefile
Dockerfile
.dockerignore
mvnw
mvnw.cmd
secretFile
.env
.env.*

!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
nb-configuration.xml
nbactions.xml

### VS Code ###
.vscode/
